<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EtiquetasArca.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EtiquetasArca.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EtiquetasArca.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>15, 15</value>
            </setting>
            <setting name="CompanyNameLine1" serializeAs="String">
                <value>LAS MEJORES LAVADORAS, S.A. de C.V.</value>
            </setting>
            <setting name="CompanyNameLine2" serializeAs="String">
                <value>R.F.C.: MLA-031024-CK1</value>
            </setting>
            <setting name="FiscalAddressLine1" serializeAs="String">
                <value>Calle Félix Merino # 2011</value>
            </setting>
            <setting name="FiscalAddressLine2" serializeAs="String">
                <value>Oasis Revolución 2</value>
            </setting>
            <setting name="FiscalAddressLine3" serializeAs="String">
                <value>Cd. Juárez, Chih. C.P. 32674</value>
            </setting>
            <setting name="AddressLine1" serializeAs="String">
                <value>Av. Juárez # 4710</value>
            </setting>
            <setting name="AddressLine2" serializeAs="String">
                <value>Col. Arquitectos</value>
            </setting>
            <setting name="AddressLine3" serializeAs="String">
                <value>Chihuahua, Chih. C.P. 31000</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value />
            </setting>
            <setting name="Brand" serializeAs="String">
                <value />
            </setting>
            <setting name="Model" serializeAs="String">
                <value />
            </setting>
            <setting name="Series" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialNumberStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SerialNumberEnd" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Specs" serializeAs="String">
                <value>127 V ~      60  Hz     9,8  A</value>
            </setting>
        </EtiquetasArca.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EtiquetasArca.Properties.Settings>
            <setting name="PublicKey" serializeAs="String">
                <value>&lt;RSAKeyValue&gt;&lt;Modulus&gt;v3kCP6svDZT8cGX8h+bVUfCOFwjU6s+IqT+pIX3x0NHe0xqnpUMN93glKYEwJmynn6V6lhjMDt0Wqb+MD1DUQK+rajbZHT2jEEJzqSSoWPKf6+rO6J6AnQDB1DeEHKNw2wq2Po7CWJXF9+21jvADA4zYYvP1nTL8hMxo3bslZHCHD+v5INWZQdBBF3EF1RmsEiRGHVGBTfiMJyK7FIOqHEqKII6KepGCIRIuJXmWjhcFEf7Tlv6UmcSyiVGJ+bsWcJHsMwu0FHMV5grHk7oGIw4omSvkGLbaZwFPqySAJsiBRF7wBEEhhXYCBElnP5dAsa1klsXp4hpNq19TsuZVWQ==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;</value>
            </setting>
            <setting name="CLSID" serializeAs="String">
                <value>2DFCF687-97B7-47D7-A1BF-B7044F76ED2E</value>
            </setting>
        </EtiquetasArca.Properties.Settings>
    </applicationSettings>
</configuration>